.preview-container {
    position: fixed;
    z-index: 9;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.preview {
    width: 60%;
    margin: auto;
    padding: 4% 0;
}

.name {
    font-size: 3.1rem;
    color: var(--heading-text-color);
    padding-bottom: 8px;
}

.prof {
    font-size: var(--section-heading-size);
    color: var(--body-text-color);
}

.contact-info {
    display: flex;
    gap: 16px;
    padding-top: 8px;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info p span:last-child {
    color: var(--body-text-color);
}

.contact-info p span:first-child {
    color: var(--heading-text-color)
}

.personal-summary {
    padding-top: 24px;
}

.preview-section-heading {
    font-size: var(--section-heading-size);
    color: var(--heading-text-color);
    padding-bottom: 12px;
}

.personal-summary .summary-text {
    padding-top: 16px;
    line-height: var(--text-line-height);
    color: var(--body-text-color);
}

/* styling of employment section and education section */

.work-list, 
.education-list {
    padding-top: 16px;
}

.work-item,
.education-item {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    
}

.duration > p {
    font-weight: 500;
    color: var(--heading-text-color)
}

.other-work-details .company-name,
.other-school-details .school-name {
    font-size: 20px;
    color: var(--heading-text-color);
    padding-bottom: 8px;
}

.other-work-details p,
.other-school-details p {
    color: var(--body-text-color);
    line-height: var(--text-line-height);
}